<h1>メッセージ新規作成ページ</h1>

<%= render 'form', message: @message %> <!-- パーシャルという。renderでhtmlを表示することで別で_form.html.erbで記述したhtml要素を表示できる。 -->
                                        <!-- こうした、同じ文を何度も書かなくても済ませることをDRY(don't repeat yourself)という。 -->


